@font-face {
  font-family: Consolas-Regular;
  src: url("../../assets/fonts/Consolas.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Consolas-Bold;
  src: url("../../assets/fonts/Consolas-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}
