@import 'reset';
@import 'variables/globals';
@import 'themes/light';
@import 'themes/dark';
@import 'fonts';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.page-content {
  display: flex;
}

.page-wrapper {
  padding: 20px;
  flex-grow: 1;
}
