@import 'reset';
@import 'variables/globals';
@import 'themes/light';
@import 'themes/dark';
@import 'fonts';

body {
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
}

.page-content {
  display: flex;
}

.page-wrapper {
  padding: 20px;
  flex-grow: 1;
}
